:root {
  --main-color: #56D4BC;
  --logo-color: #2B97FF;
  --sechead-color: white;
  --text-color: black;
  --input-color: white;
  --squad-color: #56D4bc;
  --des-color: #F88E56;
}

@font-face {
  font-family: "fifa";
  src: url("CruyffSansCondensed-DINArabic-SSTThai-Medium.otf");
}

@font-face {
  font-family: "write";
  src: url("IBMPlexSansArabic-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "write";
  color: var(--text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

body {
  overflow-x: hidden;
}

.head {
  background-color: var(--main-color);

}

.head .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}

.logo img {
  height: 70px;
  width: 70px;
}

.pal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pal img {
  width: calc((100% - 98px) / 2);
}

.logog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.log {
  background-color: var(--logo-color);
  position: relative;
}

.log p {
  position: absolute;
  font-family: "fifa";
  right: 30px;
  top: 50%;
  font-size: 18px;
}

#log1 {
  /*right: 5%;*/
  top: 30%;
  animation: 5s name;
}

#log2 {
  right: 70%;
  top: 50%;
  animation: 5s name 1s;
}

#log3 {
  /*  right: 5%;*/
  top: 70%;
  animation: 5s name 2s;
}

@media(min-width:768px) {
  .log p {
    font-size: 25px;
  }

  #log1 {
    right: 20%;
    top: 20%;
  }

  #log2 {
    right: 63%;
    top: 45%;
  }

  #log3 {
    right: 20%;
    top: 70%;
  }
}

@keyframes name {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.con .container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.con {
  background-color: var(--sechead-color);
}

.squad * {
  font-family: "fifa";
}

.squad {
  background-color: var(--squad-color);
}

#tactic {
  direction: rtl;
  background-color: var(--squad-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tac {
  width: fit-content;
  font-size: 27px;
  background-color: var(--input-color);
}

#ovr,
#calc {
  font-size: 27px;
}

#ovr {
  margin-right: 10px;
}

#calc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  background-color: var(--input-color);
}

.first {
  background-image: url(./back.jpg);
   /* background-image: url(ts.JPG); خلفية مقترحة*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  border: 2px solid var(--text-color);
}

.heighter {
  /* width:calc((98vw)/5);
  height:calc((98vw)/5);*/
  width: 75px;
  height: 75px;
  background-image: url(card.png);
  background-size: cover;
  /*position: relative;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.test {
  width: 120px;
  height: 120px;
  background-image: url(card.png);
  background-size: cover;
}

.inp {
  width: 30px;
  height: 30px;
}

.ss div img {
  width: 120px;
}

.first {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-areas: repeat(8, auto);
  justify-content: center;
  align-content: center;
}

/*.ss div {
  width: 100%;
  object-fit: contain;
  position: relative;
}*/
/*/*.ss {
  display: grid;
  grid-template-columns:repeat(7,1fr);
   grid-template-rows: repeat(8, 1fr);
  grid-template-areas: "......."
    ".a.b.c."
    "...d..."
    ".e...f."
    "......."
    "g.h.i.j"
    "......."
    "...k...";
}*/

.a {
  grid-area: a;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.b {
  grid-area: b;
  grid-column: 3 /span 1;
  grid-row: 2 / span 1;
}

.c {
  grid-area: c;
  grid-column: 5 /span 1;
  grid-row: 2 / span 1;
}

.d {
  grid-area: d;
  grid-column: 3 /span 1;
  grid-row: 3 / span 1;
}

.e {
  grid-area: e;
  grid-column: 2 /span 1;
  grid-row: 4 / span 1;
}

.f {
  grid-area: f;
  grid-column: 4 /span 1;
  grid-row: 4 / span 1;
}

.g {
  grid-area: g;
  grid-column: 1 /span 1;
  grid-row: 6 / span 1;
}

.h {
  grid-area: h;
  grid-column: 2 /span 1;
  grid-row: 6 / span 1;
}

.i {
  grid-area: i;
  grid-column: 4 /span 1;
  grid-row: 6 / span 1;
}

.j {
  grid-area: j;
  grid-column: 5 /span 1;
  grid-row: 6 / span 1;
}

.k {
  grid-area: k;
  grid-column: 3 /span 1;
  grid-row: 8 / span 1;
}

.first div input {
  /*margin-bottom: 5px;*/
  margin-top: 11px;
  /*ده السبب*/
  margin-right: 27px;
  width: 15px;
  height: 15px;
  /*height:15px;*/
  top: 8px;
  left: 19px;
  font-size: 12px;
  color: black !important;

}

.position {
  /* position: absolute;
  top: 22px;
  left: 19px;*/ 
  margin-right: 30px;
  padding-bottom: 50px;
  color: black !important;
  font-size: 8.3px;
}
.rank {
  /*position: relative;*/
  margin-top: -30px;

}

.rankk {
  width: 12px;
  font-size: 9px;
  background: linear-gradient(rgb(95, 95, 95), #414040);
  clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);

  /*position: absolute;
  top: 79.5px;
  left:41px;*/
  color: transparent;
}
#rem {
  background-image: url("remainlight.jpg");
  background-size: cover;
  padding: 30px;
  text-align: right;
  font-size: 30px;
  border: 2px solid #25D387;
  display: none;
  color: black;
}
#btnsovr{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
 align-items: center;
}
.yorn{
  padding: 0 30px;
  background-color: #25D387;
  border: none;
  border-radius: 30px;
}
#ovrz{
  width:40px;
  height: 40px;
  background-color: #25D387;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  border: 1px solid var(--text-color);
}
.anns{
  display: none;
}
#ovrcalcula{
  display: flex;
  flex-direction: row-reverse;
}
#calcul{
  margin-right: 20px;
  border: 2px solid #25D387;
  border-radius: 10px;
  background-color: var(--main-color);
}
#ques {
  text-align: center;
  margin-bottom: 10px;
}

#footer {
  background-color: var(--main-color);
  font-size: 25px;
  font-weight: bold;
}

#thanks {
  text-align: center;
  padding-top: 20px;
}
.picc{
  display: flex;
  justify-content: space-between;
}
.thanker,
.name,
.description,
.end .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanker img {
  margin: 10px 0;
  border-radius: 50%;
  border: 5px var(--text-color) solid;
  width: 160px;
  height: 160px;
}

.works {
  background-color: var(--sechead-color);
  padding: 20px 0;
}

.word {
  text-align: right;
}

.works #calcovr {
  width: 100%;
  height: 100%;
  filter: blur(5px);
  transition: 0.5s;
}

.works #calcovr:hover {
  filter: blur(0px);
}

.carrd {
  border: 2px solid #2B3ADF;
  background-color: var(--des-color);
  text-align: right;
  margin: 10px 0;
}

.carrd h2 {
  text-align: right;
}

.des {
  padding: 0 5px;
}

.web-btn {
  border: 2px solid black;
  width: fit-content;
  padding: 0 10px;
  margin: 10px;
  background-color: var(--sechead-color);
}

.us {
  background-color: var(--logo-color);
  text-align: right;
}

.titl {
  text-align: center;
}

.face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px 0;
}

.social {
  display: flex;
  justify-content: space-evenly;
}
.contact-us{
  background-color: var(--sechead-color);
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact-us  *{
margin-bottom: 5px;
}
.contact-us input{
  direction: rtl;
  background-color: var(--sechead-color);
  border: 1.2px solid #25D387;
  width: 75%;
}
.namer{
  position: relative;
}
.namer::before{
  content: "*";
  color: red;
}
textarea{
  direction: rtl;
  width: 100%;
  height: 200px;
  background-color: var(--sechead-color);
  border: 1.2px solid #25D387;
}
.err{
  display: none;
  color: red;
}
.error {
  display: block;
}
#send{
  background-color: #25D387;
  width: 55px;
  height: 30px;
  border-color: var(--sechead-color);
  border-radius: 3px;
}
.end {
  background-color: var(--main-color);
  text-align: center;
  padding: 15px 0;
}
